.todoList{
    display: inline;
}
.plus-icon{
    cursor: pointer;
}
.todoheading{
    /*background-color: #eae8ed;*/
    background-color: #0d6efd;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    padding:20px;
}

.task-form{
    margin-top : 20px;
    margin-bottom : 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.inputtext{
    border-radius: 5px;
    margin-left: 10px;
}
.clearButton{
    color:black;
    background-color: white;
    border:1px solid black;
}
.clearButton:hover{
    background-color: #ebebed;
}
.errorMessage{
    color: red;
}
.errorBorder{
    border:1px solid red;
}
.extractButton{
    margin-bottom: 20px;
}
.arrayWrapper{
    border:1px solid #ced4da;
    padding: 10px;
}
.arrayWrapper:hover{
    background-color: #eae8ed;
}
.highLight{
    background-color:#eae8ed;
    text-decoration: line-through;
}
.taskCheckBox{
    cursor: pointer;
}
.taskName{
    display: inline-block;
    margin-left: 10px;
}
.cancelButton{
    background-color: #a2a7ab;
    color: white;
    border: 1px solid #959a9e;
}
.cancelButton:hover{
    background-color: #777f80;
}

.buttonmargin{
    margin-left: 5px;
}

@media (max-width: 768px) {
    .inputtext2{
        margin-bottom: 2%;
    }
  }
  @media (max-width: 575px) {
    .xs-buttonMargin{
        margin:5px;
    }
  }
  @media (max-width: 991px) {
    .clearButton{
        padding:1%;
    }
    .editButton{
        padding: 1%;
    }
    .cancelButton{
        padding: 1%;
    }
    .saveButton{
        padding: 1%;
    }
  }

  @media (max-width: 350px) {
    .clearButton{
        padding:0%;
    }
    .editButton{
        padding: 0%;
    }
}

.slideOut {
    animation-duration: 1s;
    animation-name: slideOut;
    animation-iteration-count: 1;
    animation-direction:normal;
  }
  
  @keyframes slideOut {
    from {
        margin-left: 0%;
        width: 100%;
    }
  
    to {
        margin-left: 100%;
        width: 300%;
    }
  }
  